@use 'partials/variables' as *;
@use 'partials/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img {
    max-width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
    color: $primary-color;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    .container {
        @include centralFlex("vertical");
        @include centralFlex("space-between");
        height: 100px;

        .logo {
            img {
                width: 60px;
            }
        }

        nav {
            height: 100%;
            @include centralFlex;

            ul {
                @include centralFlex("horizzontal");

                li {
                    list-style: none;
                    padding-left: 20px;

                    a {
                        font-weight: 600;
                        font-size: 0.9rem;
                        color: #464646;
                        text-transform: uppercase;
                        text-decoration: none;

                        &.active,
                        &:hover {
                            color: $primary-color;
                            border-bottom: 4px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}

//JUMBOTRON
.jumbotron {
    height: 450px;
    background-image: url('../../resources/img/jumbotron.jpg');
    background-size: cover;
    position: relative;

    button {
        padding: 10px 20px;
        font-size: 1rem;
        color: white;
        background-color: #0282f9;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 350px;
        bottom: -20px;
    }
}

//DCSeries

section.dc-series {
    background-color: #303030;
    text-align: center;

    button {
        padding: 8px 40px;
        margin-bottom: 15px;
        color: white;
        background-color: #0282f9;
        border: none;
        cursor: pointer;
    }

    .current-series {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 60px;
    }
}

.cards {
    width: 100%;
    height: 190px;
    background-color: #0282f9;

    .list-cards {
        width: 70%;
        height: 100%;
        margin: 0 auto;

        ul {
            @include centralFlex("space-between");
            align-items: center;
            height: 100%;

            li {
                @include centralFlex;
                align-items: center;
                width: calc(100% / 5);

                .img-card {
                    width: 60px;
                    height: 60px;
                    margin-right: 5px;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.card {
    width: calc(100% / 6);
    cursor: pointer;
    padding: 0px 10px 25px;

    .img-card {
        width: 100%;
        padding-bottom: 12px;

        img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            object-position: top;
        }
    }

    ;

    a {
        text-decoration: none;
    }

    h4 {
        color: white;
        font-size: 0.9rem;

        &:hover {
            color: #0282f9;
        }
    }
}

//COMIC-DETAIL

section.container-comic {
    width: 100%;
    height: 600px;
    background-color: #303030;
    color: $primary-color;

    .comic-plot {
        height: 100%;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50%;
            width: 50%;

            .price button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #0282f9;
                width: 10%;
                padding: 10px;
                border-radius: 15px;
                color: white;
                cursor: pointer;
                margin-top: 20px;
                border: 1px solid #303030;
            }
        }

        .img-box {
            width: 20%;
            height: 70%;
            border: 5px solid white;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


//first footer
footer {
    padding: 20px;
    width: 100%;
    background-size: cover;
    background-image: url("../../resources/img/footer-bg.jpg");

    .container {
        height: 350px;
        background-image: url("../../resources/img/dc-logo-bg.png");
        background-position: right;
        background-repeat: no-repeat;
        @include centralFlex("vertical");
        align-items: flex-start;

        h3 {
            color: white;
            margin-left: 20px;
        }

        ul {
            margin-top: 20px;
            margin-bottom: 10px;

            li {
                list-style: none;
                margin-left: 20px;

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: gray;
                }
            }
        }

        .img-footer {
            width: 450px;
            align-items: flex-end;
            position: relative;
        }
    }
}


// underfooter

.sign-up {
    flex-direction: column;
    height: 120px;
    background-color: #303030;

    button {
        padding: 10px;
        border: 2px solid #0282f9;
        color: white;
        background-color: #303030;

        &:hover {
            cursor: pointer;
        }
    }

    .under-footer {
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .link-under {
            display: flex;
            align-items: center;

            h3 {
                padding: 10px;
                color: #0282f9;
            }

            nav {
                ul {
                    display: flex;
                    list-style: none;

                    li {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}
