@use 'partials/variables' as *;
@use 'partials/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img {
    max-width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
    color: $primary-color;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    .container {
        @include centralFlex("vertical");
        @include centralFlex("space-between");
        height: 100px;

        .logo {
            img {
                width: 60px;
            }
        }

        nav {
            height: 100%;
            @include centralFlex;

            ul {
                @include centralFlex("horizzontal");

                li {
                    list-style: none;
                    padding-left: 20px;

                    a {
                        font-weight: 600;
                        font-size: 0.9rem;
                        color: #464646;
                        text-transform: uppercase;
                        text-decoration: none;

                        &.active,
                        &:hover {
                            color: $primary-color;
                            border-bottom: 4px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}
